<body class="login_page">
  <div id="login_background">
    <div class="login_container">
      <h2>Log in</h2>
      <br />
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="login-username">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, :class => 'login_field' %>
        </div>

        <div class="login-password">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="login-remember-me">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
        <br />
        <div class="login-submit">
          <%= f.submit "Log in" %>
        </div>
      <% end %>
      <br />

      <%= render "devise/shared/links" %>
    </div>
  </div>
</body>
