<!DOCTYPE html>
<html>
  <div id="full_page">
    <body>
      <main class="profile_main">
        <section class="profile_section">
          <h1 class="profile_h1"><%= current_user.username %>'s Profile</h1>
          <div class="top">
            <div class="profile_image">
              <%= link_to image_tag(@user.image.url(:large)), @user.image.url %> <br />
              <a class="find_shows_button profile-buttons" href="/events">Find Shows</a><br/>
            </div>
            <div class="profile_info">
              <p>Username: <%= current_user.username %></p><br>
              <p>First Name: <%= current_user.first_name %></p><br>
              <p>Last Name: <%= current_user.last_name %></p><br>
              <p>Email: <%= current_user.email %></p><br>
              <p>DOB: <%= current_user.date_of_birth %></p><br>
              <p>Phone Number: <%= current_user.phone_number %></p><br>
              <p>Description: <%= current_user.description %></p>
              <a href="/profile/update" class="edit_button profile-buttons">Edit Profile</a>
            </div>
          </div>
        </section>
        <section class="events_section">
          <h2 class="profile_h2">Saved Events:</h2>
          <div class="saved_events">
                <p class=event_info>V-Ron and the Kidz</p>
                <p class=event_info>2017-12-15 20:00:00</p>
                <p class=event_info>Cafe21</p>
          </div>
          <div>
            <%= for each @events do |e| %>
            https://stackoverflow.com/questions/32573545/loop-through-items-and-place-in-correct-list
          </div>
          </div>
        </section>
      </main>
    </body>
  </div>
</html>
