<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="update_profile">
    <h1 class="update_title">Update your profile!</h1>
      <%= form_with model: @user, url: profile_path, html: { multipart: true }, class: "update_form" do |f| %>
        <%= f.text_field :username, name: :username, placeholder: "Username" %>
        <%= f.text_field :first_name, name: :first_name, placeholder: "First Name" %>
        <%= f.text_field :last_name, name: :last_name, placeholder: "Last Name" %>
        <%= f.text_field :email, name: :email, placeholder: "Email" %>
        <%= f.text_field :phone_number, name: :phone_number, placeholder: "Phone Number" %>
        <%= f.text_field :description, name: :description, placeholder: "Description" %>
        <%= f.file_field :image, name: :image, method: :patch, class: "image_file" %>
        <%= f.submit "Update" %>
      <% end %>
    </div>
  </body>
</html>
