<!DOCTYPE html>
<html>
  <head>
    <title>ConcertFinderSd</title>
    <meta name="viewport" content="width=device-width">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'navbar', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'footer', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'about', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'appinfo', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'profile', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'update', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'events_list', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'login', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'modal', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'signup', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'forgot-password', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'forgot-password', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Rubik:700', media: 'all', 'data-turbolinks-track': 'reload'%>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body id="body">
    <header>
      <div class="nav">
        <div id="menuToggle">
          <input id="toggle" type="checkbox"/>
          <span id="span"></span>
          <span id="span"></span>
          <span id="span"></span>
            <% if user_signed_in? %>
              <div class="navBar">
                <%= react_component("Header") %>
                <li class="nav-button">
                  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
                </li>
              </div>
            <% else %>
              <div class="navBar">
                <%= react_component("SignedIn") %>
              </div>
            <% end %>
        </div>
      </div>
    </header>
    <%= yield %>
    <%= react_component("Footer") %>
  </body>
</html>
