<!DOCTYPE html>
<html>
  <head>
    <title>ConcertFinderSd</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'navbar', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Rubik:700', media: 'all', 'data-turbolinks-track': 'reload'%>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= react_component("Header") %>
    <%= yield %>
  </body>
</html>
